/*
Page styling ------------------------------------------------------
*/

    /* Remove default styling*/
*{
    margin: 3;
    padding: 0;
    box-sizing: border-box;
  }
  

.header {
    width: 100%;
    padding:20px 0;
    text-align: center;
    background:#EFE1E1;
    color: #6A3F3F;
}

h1{
    /* google font 1 */
    font-family: 'Tangerine', cursive;
    font-size: 20px;
}

h4{
    font-size: 20px;
}

h6{
    /* google font 2 */
    font-family: 'Mrs Saint Delafield', cursive;
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 10px;
}
p{
    font-size: 18px;
}

p1{
    font-size: 14px;
}

form {
    margin: 2rem 0;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'Gayathri', sans-serif;
}

label {
    padding-top: 2px;
}

.couples-details{
    font-family: 'Gayathri', sans-serif;
    text-transform: uppercase;
}



  /*
Page styling ------------------------------------------------------
*/



/*
  Applying styling to slider
  */
  
  .carousel-container{
    position: relative;
    height: 500px;
    width: auto;
    margin: auto;
    padding: 10px;
    overflow: hidden;
  }
  img.event-photos{
    max-width: 400px;
    object-fit: cover;
    width: auto;
    height: 100%;
  }
  .carousel-slide{
    display: flex;
    width: auto;
    height: 100%;
  }

  .carousel-buttons {
    position: center;
    
  }
  /*
  Finished slider styling
  */


/*
  Applying styling to additional photos
  */


#additional-photos img{
    position: relative;
    max-height: 300px;
    margin: 5px;

}

/*
Finished additional photos styling
*/





  
  
  
  
  /*
  Applying styling for dark mode
  */
  
  #dark-change{
    position: absolute;
    width: 45px;
    height: 22px;
    right: 20px;
    top: 20px;
    border: 2px solid #6A3F3F;
    border-radius: 20px;
  }
  
  #dark-change::before{
    position: absolute;
    content: "";
    width: 20px;
    height: 17px;
    left: 1px;
    top: 0.5px;
    border-radius: 50%;
    cursor: pointer;
    background: #6A3F3F;
    transition: 0.4s;
  }
  
  #dark-change.active::before{
    left: 24px;
    background-color: #fff;
  }
  
  body.night{
    background: #000;
    color: #EFE1E1;
  }
  
  #night-mode-button {
    background-color: #6A3F3F;
    color: #EFE1E1;
    padding: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }


  /*
  Finished styling for dark mode
  */
  
  
  

